/*
Implement your CSS code in this file. Do not change anything in any other file.
Only this will be graded.
*/


/*
Implement your CSS code in this file. Do not change anything in any other file.
Only this will be graded.
*/

/* DESKTOP (default) */

/* Already handled in starter_styles.css, but adding for clarity */
#mainBody {
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-bottom: 50px; 
}

#leftContainer,
#rightContainer {
    flex: 1;
}

#rightContainer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: repeat(3, 160px);
    gap: 10px;
}

header {
    padding: 30px 0;
}

/* TABLET VIEW */
@media (max-device-width: 1000px) {
    body {
        width: 60%;
    }

    #mainBody {
        flex-direction: column;
        gap: 40px;
    }

    #rightContainer {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 160px);
    }

    .display_md {
        display: none;
    }
}

/* MOBILE VIEW */
@media (max-device-width: 570px) {
    body {
        width: 80%;
    }

    #mainBody {
        flex-direction: column;
    }

    #rightContainer {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 160px);
    }
}